<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WestPac_Suite">
  <test name="WestPac_Test">
    <classes>
      <class name="Demo_pkg.Westpac_scenario_1"/>
      <class name="Demo_pkg.Westpac_scenario_2"/>
      <class name="Demo_pkg.Westpac_Scenario_3"/>
      <class name="Demo_pkg.Westpac_scenario_4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
